/* Fontes */

@font-face {
    font-family: "Electrolize";
    src: url("../fonts/Electrolize-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Estilos base */
*{
    font-family: "Electrolize";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    min-height: 100vh;
    position: relative;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-bottom: 100px;
}

header{
    width: 100vw;
    background-color: rgb(13, 19, 22);
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(26, 38, 44);
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: 2px solid rgb(26, 38, 44);
    background-color: rgb(13, 19, 22);
    color: whitesmoke;
    padding: 50px 0;
}

/* Header - Logo */

#logo{
    position: absolute;
    left: 30px;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: left;
    gap: 10px;
    transition: .5s;
}
#logo h4{
    width: fit-content;
    transition: .5s;
    color: rgb(238, 238, 238);
}
#logo h4:hover{
    color: rgb(255, 255, 255);
}
#logo img{
    width: 48px;
    height: 48px;
    opacity: 0.9;
}
#logo img:hover{
    opacity: 1;
}

/* Header - Navbar */
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 27, 34);
    border: 2px solid rgb(43, 83, 88);
    border-radius: 5px;
}

#nav-bar li{
    margin: 0 10px;
    padding: 5px;
    list-style: none;
}

#nav-bar li a {
    color: rgb(89, 229, 253);
    transition: .5s;
    font-size: 30px;
    text-decoration: none;
}

#nav-bar li a:hover {
    color: rgb(144, 238, 255);
    font-size: 30px;
}

/* Home / Prévias de posts */

#home-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
}

#home-main-titulo-container{
    text-align: center;
    margin-top: 100px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
}

#home-main-titulo-container img{
    width: 300px;
    height: 300px;
}

#home-main-titulo-container h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
}

#home-main-titulo-container p{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(194, 194, 194);
}

#previa-posts-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.previa-post-box{
    background-color: rgb(13, 19, 22);
    border: 2px solid rgb(26, 38, 44);
    width: 700px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

.previa-post-img{
    border: 2px solid rgb(68, 68, 68);
    width:350px;
    height:250px;
}

.previa-post-titulo{
    margin-top: 10px;
    width: 400px;
}

.previa-post-titulo a{
    opacity: 0.9;
    color: rgb(132, 241, 255);
    transition: .5s;
    font-size: 35px;
}

.previa-post-titulo a{
    text-decoration: none;
    font-size: 33px;
}

.previa-post-titulo a:hover{
    opacity: 1;
    font-size: 35px;
}

.previa-post-desc{
    margin-top: 10px;
    font-size: 20px;
}
.previa-post-tags-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.previa-post-tags-container p{
    font-size: 20px;
}
.previa-post-tag{
    color: rgb(115, 215, 255);
    border: 1px solid rgb(57, 118, 146);
    background-color: rgb(26, 43, 48);
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

/* Posts */
#post-titulo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#post-titulo{
    text-align: center;
    margin-top: 100px;
    width: 700px;
}
#post-desc{
    margin-top: 30px;
    width: 500px;
    text-align: center;
}
#post-img{
    border: 2px solid rgb(68, 68, 68);
    width:450px;
    height:350px;
    margin-top: 30px;
}
#post-main{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
#post-aside{
    margin-bottom: 70px;
}
.post-subtitulo{
    margin-top: 30px;
}
.post-paragrafo{
    margin-top: 30px;
    width: 800px;
}
#post-tags-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
#post-tags-container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#post-tags-container ul li{
    list-style: none;
}
.post-tag{
    color: rgb(115, 215, 255);
    border: 1px solid rgb(57, 118, 146);
    background-color: rgb(26, 43, 48);
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.post-logo-linguagem{
    width: 72px;
    height: 72px;
    margin-top: 30px;
}