/* Fontes */

@font-face {
    font-family: "Electrolize";
    src: url("../fonts/Electrolize-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Estilo basico */
*{
    font-family: "Electrolize";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    min-height: 100vh;
    position: relative;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

/* Cabeçalho */
header{
    width: 100vw;
    background-color: rgb(13, 19, 22);
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(26, 38, 44);
}

#logo{
    position: absolute;
    left: 30px;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: left;
    gap: 10px;
    transition: .5s;
}
#logo h4{
    width: fit-content;
    transition: .5s;
    color: rgb(238, 238, 238);
}
#logo h4:hover{
    color: rgb(255, 255, 255);
}
#logo img{
    width: 48px;
    height: 48px;
    opacity: 0.9;
}
#logo img:hover{
    opacity: 1;
}

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 27, 34);
    border: 2px solid rgb(40, 123, 134);
    border-radius: 5px;
}

#nav-bar li{
    margin: 0 10px;
    padding: 5px;
    list-style: none;
}

#nav-bar li a {
    color: rgb(89, 229, 253);
    transition: .5s;
    font-size: 30px;
    text-decoration: none;
}

#nav-bar li a:hover {
    color: rgb(144, 238, 255);
    font-size: 30px;
}

/* Principal */

main{
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-img{
    height: 600px;
    width: 900px;
}

#titulo-container{
    text-align: center;
    margin-top: 100px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
}

#titulo-container h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
}

#titulo-container p{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(194, 194, 194);
}

#posts-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.post-box{
    background-color: rgb(13, 19, 22);
    border: 2px solid rgb(26, 38, 44);
    width: 700px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

.post-img{
    border: 2px solid rgb(68, 68, 68);
    width:350px;
    height:250px;
}

.post-titulo{
    margin-top: 10px;
    width: 400px;
}

.post-titulo a{
    opacity: 0.9;
    color: rgb(188, 250, 153);
    transition: .5s;
    font-size: 35px;
}

.post-titulo a{
    text-decoration: none;
    font-size: 33px;
}

.post-titulo a:hover{
    opacity: 1;
    font-size: 35px;
}

.post-desc{
    margin-top: 10px;
    font-size: 20px;
}
.post-tags-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.post-tags-container p{
    font-size: 20px;
}
.post-tag{
    color: rgb(115, 215, 255);
    border: 1px solid rgb(57, 118, 146);
    background-color: rgb(26, 43, 48);
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

/* Rodapé */

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: 2px solid rgb(26, 38, 44);
    background-color: rgb(13, 19, 22);
    color: whitesmoke;
    padding: 50px 0;
}

